<div class="main">
  <div class="left">

    <div class="left-header">
      <div class="nickname">
        <%= current_user.nickname %>
      </div>
      <div class="nickname-change">
        <%= button_to 'ユーザー切替', destroy_user_session_path, method: :delete, class: "nickname-change-button" %>
      </div>
    </div>

    <div class="left-main">
      <%= form_with(model: @event, local: true) do |form| %>
        <div class="form-group">
          <%= form.label :title, "タイトル", class: "form-tag" %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :start, "日時", class: "form-tag" %>
          <%= form.datetime_select :start, class: "form-control-datetime", use_month_names: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"] %>
        </div>
        <div class="form-group">
          <%= form.label :content, "メモ / 振り返り", class: "form-tag" %>
          <%= form.text_area :content, class: "form-control-area" %>
        </div>
        <div class="form-group">
          <%= form.submit "保 存", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="right">

    <div class="right-header">
      <div class="page-title">
        <%= link_to image_tag('logo.png', alt: 'Logo'), root_path %>
      </div>
    </div>

    <div class="cal">
      <%= month_calendar events: @events do |date, events| %>
        <div class="calendar-date">
          <%= date.day %>
        </div>
        <% events.each do |event| %>
          <div class="event">
            <%= link_to event.title, event %> - <%= event.user.nickname.first %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>