<div class="main">

  <div class="left-main">
  </div>

  <div class="right-main">

    <div class="show">
      <div class="show-info">
        <div class="show-label">タイトル</div>
        <div class="show-value"><%= @event.title %></div>
      </div>

      <div class="show-info">
        <div class="show-label">日時</div>
        <div class="show-value"><%= @event.start.strftime("%m/%d %H:%M") %></div>
      </div>

      <div class="show-info">
        <div class="show-label">内容</div>
        <div class="show-value"><%= @event.content %></div>
      </div>

      <div class="show-info">
        <div class="show-label">ニックネーム</div>
        <div class="show-value"><%= @event.user.nickname %></div>
      </div>

      <div class="action-buttons">
        <% if user_signed_in? && current_user.id == @event.user_id %>
          <%= link_to '編集', edit_event_path(@event), class: "action-button edit-button" %>
          <%= link_to '削除', event_path(@event.id), data: { turbo_method: :delete }, class: "action-button delete-button" %>
        <% end %>
        <%= link_to '戻る', root_path, class: "action-button return-button" %>
      </div>
    </div>

  </div>
</div>