<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">

      <div class="left-header">
        <div class="nickname">
          <%= current_user.try(:nickname) %>
        </div>
        <div class="nickname-change">
          <%= button_to 'ユーザー切替', destroy_user_session_path, method: :delete, class: "nickname-change-button" %>
        </div>
      </div>

      <div class="right-header">
        <div class="page-title">
          <%= link_to image_tag('logo.png', alt: 'Logo'), root_path %>
        </div>
      </div>

    </header>
    <%= yield %>
  </body>
</html>
